@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --bg-color: #1a202c;
  --white: white;
  --card-bg: #272a31;
  --card-text: rgb(182, 179, 179);
  --black-text: black;
  --green-color: #219c21;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background: var(--bg-color); */
  color: var(--bg-color);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
  object-fit: cover;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: var(--bg-color);
  text-decoration: none;
}

/* Utilities Class */
.pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.mt-10 {
  margin-top: 0.625rem;
}
.mb-10 {
  margin-bottom: 0.625rem;
}
.m-10 {
  margin: 0.625rem 0;
}
.mt-20 {
  margin-top: 1.25rem;
}
.inherit-font {
  font-family: inherit;
}
.align-center {
  align-items: center;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-last {
  justify-content: flex-end;
}
.gap10 {
  gap: 10px;
}
.border-bottom {
  border-bottom: 1px solid var(--white);
}
.pb-10 {
  padding-bottom: 0.625rem;
}
/* Webkit Scrollbar */

::-webkit-scrollbar {
  /* width: 0.625rem; */
  width: 1px;
}
::-webkit-scrollbar-track {
  /* background-color: white; */
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border-radius: 0.625rem;
}
